.btn-outline-secondary {
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
    background-color: transparent; // Que no se pinte el fondo al pasar el mouse
    color: #6c757d;
    text-decoration: underline;
  }
}
.table {
  font-size: 0.9rem;

  thead th {
    vertical-align: middle;
    white-space: nowrap;
    // Agregamos el fondo verde y letra blanca
    background-color: #0D2A1B !important; // Reemplazá este # por el verde exacto de tu app
    color: #ffffff !important;
    border-color: #ffffff; // Un borde un toque más oscuro para que separe bien
  }

  td {
    white-space: nowrap;
    vertical-align: middle;
  }
}

.badge {
  font-family: monospace;
}
