<div class="container mt-4">
  <h2 class="text-dark"><i class="bi bi-anchor text-warning"></i> Operación Puerto - Ingreso</h2>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <h4 class="text-secondary">Unidades en Tránsito</h4>
      <div class="list-group shadow-sm">
        <button *ngFor="let op of camionesEnCamino"
                (click)="seleccionar(op)"
                [class.active]="seleccionado?.id === op.id"
                class="list-group-item list-group-item-action border-warning-subtle">
          <strong>Unidad: {{ op.transporte?.tracto }}</strong> <br>
          <small class="text-muted">Chofer: {{ op.transporte?.chofer }}</small> <br>
          <small>Salió de Green: {{ op.horaOutGreen }} | {{ op.litrosOutGreen }} Lts</small>
        </button>
      </div>

      <div *ngIf="camionesEnCamino.length === 0" class="alert alert-info mt-3">
        No hay camiones reportados en viaje al puerto.
      </div>
    </div>

    <div class="col-md-7" *ngIf="seleccionado">
      <div class="card border-warning shadow">
        <div class="card-header bg-warning text-dark fw-bold">
          Registrar Arribo: {{ seleccionado.transporte?.tracto }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label class="form-label fw-bold">Hora Ingreso</label>
              <input type="time" class="form-control" [(ngModel)]="formPuerto.horaInPuerto">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label fw-bold">Peso Puerto (Kg)</label>
              <input type="number" class="form-control" [(ngModel)]="formPuerto.pesoInPuerto" placeholder="Balanza">
            </div>
            <div class="col-md-4 mb-3">
              <label class="form-label fw-bold">Litros Puerto</label>
              <input type="number" class="form-control" [(ngModel)]="formPuerto.litrosInPuerto" placeholder="Volumen">
            </div>
          </div>

          <div class="alert alert-light border py-2">
            <i class="bi bi-info-circle text-primary"></i>
            <small> El camión salió de planta con <strong>{{ seleccionado.litrosOutGreen }}</strong> litros.</small>
          </div>

          <button class="btn btn-warning w-100 mt-2 fw-bold" (click)="guardarIngresoPuerto()">
            <i class="bi bi-check-all"></i> Confirmar Recepción en Puerto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
